
<div class="card mb-3">
  <div class="card-header text-center">
    To-Do
    <fa-icon (click)="onEditQuadro()"[icon]="faEdit" style="cursor: pointer"></fa-icon>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{ quadro.title }}</h5>
    <p class="card-text">{{ quadro.content }}</p>
    <div class="d-flex justify-content-between">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      <fa-icon (click)="onDeleteQuadro()"[icon]="faTrash" style="cursor: pointer"></fa-icon>
      <fa-icon [icon]="faArrowRight" style="cursor: pointer"></fa-icon>
    </div>
  </div>
</div>

<div class="card mb-3" *ngIf="editFormOpen">
  <form [formGroup]="quadroForm">
    <div class="card-header text-center">
      To-Do
    </div>
    <div class="card-body">
      <input formControlName="title" class="form-control form-control-sm text-center" type="text" placeholder="Title" aria-label=".form-control-sm example">
      <div class="mb-3 mt-3">
        <textarea formControlName="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="d-flex justify-content-around">
        <fa-icon (click)="updateQuadro()" [icon]="faCheck" style="cursor: pointer"></fa-icon>
        <fa-icon (click)="deleteForm()" [icon]="faTimes" style="cursor: pointer"></fa-icon>
      </div>
    </div>
  </form>
</div>

