<div class="card mb-3">
  <div class="card-header text-center">
    Done
    <fa-icon [icon]="faEdit" style="cursor: pointer"></fa-icon>
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">Title</h5>
    <p class="card-text">Content</p>
    <div class="d-flex justify-content-between">
      <fa-icon [icon]="faArrowLeft" style="cursor: pointer"></fa-icon>
      <fa-icon [icon]="faTrash" style="cursor: pointer"></fa-icon>
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>
  </div>
</div>
